.modal {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 90% !important;
  max-width: 500px !important;
  background-color: #ffffff !important;
  border-radius: 16px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #000 !important;
  padding: 24px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
}

.header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: #ffffff !important;
}

.title {
  font-weight: 600 !important;
  color: #333333 !important;
}

.closeButton {
  color: #333333 !important;
}

.textField {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  background-color: #f8f9fa !important;
}

form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.submitButton {
  border-radius: 14px !important;
  padding: 10px 30px !important;
  text-transform: none !important;
  font-size: 1.1rem !important;
  background-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease !important;
}

.submitButton:hover {
  background-color: goldenrod !important;
  transform: translateY(-2px) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important;
}
