.pageContainer {
  padding: 16px !important;
  position: relative !important;
}

.title {
  font-size: 2rem !important;
  margin-bottom: 16px !important;
}

.cardContainer {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 16px !important;
  justify-content: space-around !important;
}

.button {
  position: fixed !important;
  bottom: 16px !important;
  right: 16px !important;
  color: red !important;
  font-size: 3rem !important;
}
